[Unit]
Description="Move Splunk Filesystem Output"

[Service]
ExecStart=/opt/splunk/etc/apps/TA-IngestFromExports/bin/move_files.sh
User=splunk
Group=splunk
